.item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
}

.item .single-item {
  width: 350px;
  margin: 20px 0;
  text-align: center;
  border-radius: 8px;
  padding: 25px 25px 10px;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px 5px #ccc;
}

.item .single-item img {
  max-height: 350px;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.item .single-item h6 {
  font-size: 1rem;
  margin: 5px auto;
  font-family: "Protest Strike", sans-serif;
  letter-spacing: 2px;
}

.item .single-item p {
  font-size: 0.9rem;
  margin: 0 auto;
  font-style: italic;
  font-family: "Andele";
}

.container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
}

.left-content {
  display: flex;
}

.text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container {
  position: relative;
}

.star-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.shining {
  animation: shine 1s ease-in-out;
}
.yellow {
  color: yellow;
}

@keyframes shine {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

.button-container {
  position: relative;
  display: inline-block;
}

.add-to-cart-button {
  position: relative;
  padding: 10px 20px;
  margin-top: 2px;
}

.plus-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 20px;
  animation: fadeInAndOut 3s ease-in-out;
}

@keyframes fadeInAndOut {
  0%,
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.7);
  }
  50% {
    opacity: 0.5;
    transform: translate(-50%, -50%) scale(0);
  }
}
