.item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
}

.item .single-item {
  width: 350px;
  margin: 20px 0;
  text-align: center;
  border-radius: 8px;
  padding: 25px 25px 10px;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px 5px #ccc;
}

.item .single-item img {
  max-height: 350px;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.item .single-item h6 {
  font-size: 1rem;
  margin: 5px auto;
  font-family: "Protest Strike", sans-serif;
  letter-spacing: 2px;
}

.item .single-item p {
  font-size: 0.9rem;
  margin: 0 auto;
  font-style: italic;
  font-family: "Andele";
}
