.sell-product-container {
  max-width: 600px;
  margin: 40px auto 20px;
  padding: 20px;
  border: 1px solid #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
}

.sell-product-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sell-product-label {
  font-weight: normal;
  text-align: center;
  font-style: italic;
}

.sell-product-input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.sell-product-button {
  background-color: #24a0ed;
  border-radius: 10px;
  border: 1px solid #fff;
  padding: 10px 20px;
  color: #fff;
  cursor: pointer;
  margin-top: 10px;
}

.sell-product-button:hover {
  background-color: #286184;
}
