.sign-in-sign-up-container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.sign-in,
.sign-up {
  width: 45%;
}

.sign-in-sign-up-container form {
  display: flex;
  flex-direction: column;
}

.sign-in-sign-up-container label {
  margin-bottom: 8px;
}

.sign-in-sign-up-container input {
  padding: 8px;
  margin-bottom: 16px;
}

.sign-in-sign-up-container button {
  background-color: #24a0ed;
  border-radius: 10px;
  border: 1px solid #fff;
  padding: 10px 20px;
  color: #fff;
  cursor: pointer;
}

.sign-in-sign-up-container button:hover {
  background-color: #286184;
}
