.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #333;
  box-shadow: 0 0 5px 5px black;

  .logo {
    order: 1;
    color: white;
  }

  .h1 {
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
  }

  .categories {
    order: 2;
    text-align: center;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    display: inline-block;
    margin-right: 15px;
  }

  a {
    text-decoration: none;
    color: white;
    cursor: pointer;
  }
  a.active > hr {
    margin-top: 4px;
    margin-bottom: -4px;
    box-shadow: 0 0 5px 1px white;
  }
  a:not(.active) > hr {
    display: none;
  }

  .profile {
    display: flex;
    align-items: center;
    order: 3;

    button {
      margin-right: 10px;
      background-color: #24a0ed;
      border-radius: 10px;
      border: 1px solid #333;
      padding: 10px 20px;
      color: #fff;
      cursor: pointer;
    }

    button:hover {
      background-color: #2a7db1;
    }

    .cart-icon {
      position: relative;
      margin-right: 10px;
    }

    .cart-count {
      position: absolute;
      top: -11px;
      right: -11px;
      background-color: red;
      color: white;
      border-radius: 50%;
      padding: 3px 6px;
      font-size: 10px;
    }
  }
}
